* {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  box-sizing: border-box;
  outline: 0px;
  line-height: 1.5;
  font-size: 30px;
  /* outline: 1px solid #444; */
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul {
  list-style: none;
}

body {
  text-align: center;
}

.wrap {
  width: 1160px;
  display: inline-block;
  padding: 0px 20px;
}

.pc {
  position: relative;
  visibility: visible;
  display: inline-block;
  opacity: 1;
  transition: opacity 2s 0s;
}

.mobile {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  opacity: 0;
  transition: opacity 2s 0s;
}

@media only screen and (min-width: 100px) and (max-width: 1200px) {
  .wrap {
    width: 100%;
  }

  .mobile {
    position: relative;
    visibility: visible;
    display: inline-block;
    opacity: 1;
  }

  .pc {
    position: absolute;
    visibility: hidden;
    display: inline-block;
    opacity: 0;
  }
}
