body {
  background-color: #cce4e6;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-y: hidden;
}

header {
  width: 100%;
  height: 94px;
  background-color: #7fb6bb;
  z-index: -2;
  position: absolute;
}
header .context {
  display: inline-block;
  margin: 14px;
  width: 90%;
}
header #logo {
  float: left;
}
header #logo img {
  width: 66px;
  height: 66px;
}
header #logo > span {
  margin-left: 12px;
  font-size: 44px;
  color: white;
  font-family: 'Lobster', cursive;
}
header nav {
  float: right;
}
header nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
header nav > ul > li {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  padding: 0px 10px;
  font-family: 'Lobster', cursive;
  position: relative;
}
header nav > ul > li.view::after {
  width: 100%;
}
header nav > ul > li:nth-child(odd) {
  color: #eb7c72;
}
header nav > ul > li:nth-child(even) {
  color: #f6c33d;
}
header nav > ul > li::after {
  content: '';
  font-size: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 2px;
  z-index: -1;
}
header nav > ul > li:nth-child(odd)::after {
  background-color: #f6c33d;
}
header nav > ul > li:nth-child(even)::after {
  background-color: #eb7c72;
}
header nav > ul > li:hover {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
header nav > ul > li:hover::after {
  width: 100%;
  transition: 0.2s;
}

main {
}

main .wrap {
  position: relative;
}
main .tulip {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
main .ab {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: -2;
  background-color: #ffffff91;
  border-radius: 15px;
}
main .ab.view {
  display: block;
}
main .ab {
  display: none;
}

main .Wbox {
  width: 100%;
  height: 620px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main .Wbox .Memoji {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .Wbox img {
  width: 80%;
}
main .Wbox .MainMemoji {
}
main .Wbox .MainContent {
  text-align: left;
  padding: 130px 0px 0px 20px;
  font-size: 30px;
}
main .Main.Wbox .MainContent .hand {
  font-size: 36px;
  cursor: pointer;
  transform: rotateY(5px 5px);
}
main .Main.Wbox .MainContent .ColorChange {
  position: relative;
  padding: 2px 4px;
}
main .Main.Wbox .MainContent .ColorChange:hover {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
main .Main.Wbox .MainContent .ColorChange:hover::after {
  width: 100%;
  transition: 0.2s;
}
main .Main.Wbox .MainContent .ColorChange::after {
  content: '';
  font-size: 0px;
  background-color: #eb7c72;
  border-radius: 2px;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main .Main.Wbox .MainContent .textChange {
}
main .Main.Wbox .MainContent .textChange::after {
  content: '사실을 풀스택도 욕심납니다😉';
  font-size: 0px;
}
main .Main.Wbox .MainContent .textChange:hover {
  font-size: 0;
  cursor: pointer;
}
main .Main.Wbox .MainContent .textChange:hover::after {
  font-size: 30px;
}
main .Main.Wbox .MainContent .popup {
  position: absolute;
  top: 28%;
  left: 42%;
  width: 500px;
  height: 263px;
  background-image: url(../img/ENTP.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
main .Main.Wbox .MainContent .popup.view {
  display: block;
}

main .Likes.Wbox {
}
main .Likes.Wbox .Memoji {
}
main .Likes.Wbox .LikesContent {
  position: relative;
  padding: 40px 0px 0px;
}
main .Likes.Wbox .LikesContent .LikesTitle {
  margin: 43px 0px 20px;
}
main .Likes.Wbox .LikesContent .LikesTitle:hover .box {
  height: 126px;
  opacity: 1;
  transition: 1s;
  cursor: pointer;
}
main .Likes.Wbox .LikesContent .box {
  height: 0px;
  opacity: 0;
}
main .Likes.Wbox .LikesContent .list {
  width: 160px;
  height: 160px;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  display: inline-block;
}
main .Likes.Wbox .LikesContent .list.h1 {
  background-image: url(../img/netflix_logo.svg);
}
main .Likes.Wbox .LikesContent .list.h2 {
  background-image: url(../img/mingky.jpg);
}
main .Likes.Wbox .LikesContent .list.h3 {
  background-image: url(../img/cafe.jpg);
}
main .Likes.Wbox .LikesContent .list.m1 {
  background-image: url(../img/closer.jpg);
}
main .Likes.Wbox .LikesContent .list.m2 {
  background-image: url(../img/harrypoter.jpg);
}
main .Likes.Wbox .LikesContent .list.m3 {
  background-image: url(../img/aladdin.jpg);
}
main .Likes.Wbox .LikesContent .list.mu1 {
  background-image: url(../img/newboys.jpg);
}
main .Likes.Wbox .LikesContent .list.mu2 {
  background-image: url(../img/iu.jpg);
}
main .Likes.Wbox .LikesContent .list.mu3 {
  background-image: url(../img/crush.jpg);
}
main .Likes.Wbox .LikesContent .list.t1 {
  background-image: url(../img/japan.svg);
}
main .Likes.Wbox .LikesContent .list.t2 {
  background-image: url(../img/kangaroo.svg);
}
main .Likes.Wbox .LikesContent .list.t3 {
  background-image: url(../img/kiwi.svg);
}

main .Coding.Wbox .CodingContent {
  text-align: left;
  padding: 40px 0px;
}
main .Coding.Wbox .CodingContent .Codingbox {
  margin-bottom: 50px;
}
main .Coding.Wbox .CodingContent .Codingbox .CodingTitle {
  margin-bottom: 20px;
}
main .Coding.Wbox .CodingContent .Codingbox .list {
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}
main .Coding.Wbox .CodingContent .list.c1 {
  background-image: url(../img/html.svg);
}
main .Coding.Wbox .CodingContent .list.c2 {
  background-image: url(../img/css.svg);
}
main .Coding.Wbox .CodingContent .list.c3 {
  background-image: url(../img/javascript.svg);
}
main .Coding.Wbox .CodingContent .list.c4 {
  background-image: url(../img/photoshop.svg);
}
main .Coding.Wbox .CodingContent .list.c5 {
  background-image: url(../img/ai.svg);
}
main .Coding.Wbox .CodingContent .list.w1 {
  background-image: url(../img/react.svg);
}
main .Coding.Wbox .CodingContent .list.w2 {
  background-image: url(../img/python.svg);
}
main .Coding.Wbox .CodingContent .list.w3 {
  background-image: url(../img/django.svg);
}
main .CM.Wbox {
}
main .CM.Wbox .CMContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .CM.Wbox .CMContent ul {
}
main .CM.Wbox .CMContent ul > li {
  display: inline-block;
  margin: 0px 30px;
}
main .CM.Wbox .CMContent ul > li img {
  width: 100px;
  height: 100px;
}
main .CM.Wbox .CMContent ul > li > a {
  display: block;
  margin-top: 10px;
}
